<html>
<head>
    <meta charset="utf-8">
    <title>Easy_HP</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
  <div class="wrapper">

    <header>
      <div class="container">
        <div class="header-left">
          <div class="logo">
          Easy
          </div>
        </div>
        <div class="header-right">
          <%= link_to '会社案内' , 'pages/co_info' , class:"info" %>
          <%= link_to 'サービス一覧' , 'pages/service' , class:"info" %>
          <%= link_to 'お問い合わせ' , 'pages/contact' , class:"info" %>
        </div>
      </div>
    </header>

    <main></main>

    <footer>
      <div class="container">
        <div class="footer-left">
          <%= link_to '会社案内' , 'pages/co_info' , class:"info" %>
          <%= link_to 'サービス一覧' , 'pages/service' , class:"info" %>
          <%= link_to 'お問い合わせ' , 'pages/contact' , class:"info" %>
        </div>
        <div class="footer-right">
        <%= image_tag 'easy.png' , :size =>'100x80' %>
      </div>
    </footer>
    
  </div>
  </body>
</html> 