<!DOCTYPE html>
<html>
  <head>
    <title>株式会社Easy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <header class="header">
      <div class="headerWrap">
        <div class="logo">
          <%= link_to image_tag("easy.png", width: '120',height: "80"), root_path %>
        </div>
        <div class="header-menu">
          <%= link_to '会社案内', co_info_path, class:"info" %>
          <%= link_to 'お問い合わせ', contacts_new_path, class:"info" %>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer class="footer">
        <div class="footer-left">
          <%= link_to '会社案内', co_info_path, class:"info" %>
          <%= link_to 'お問い合わせ', contacts_new_path, class:"info" %>
        </div>
      <small class="copyright">&copy; Easy inc.</small>
    </footer>

  </body>
</html>
